<!-- se puede llamar en un componente para reutilizarlo los usuarios normales -->
<mat-toolbar class="border-b-4 border-lime-500 ">
  <img src="https://static.wixstatic.com/media/cd5424_01ab5c9ce1034fc99979da71d41442c5~mv2.png/v1/fill/w_150,h_125,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/IACSA%20REDONDO_edited.png"
  alt="IACSA REDONDO"
  class="rounded-full w-12 h-12 "
  alt="">
   <a class="flex-auto font-bold font-sans">Industrial Aceitera de Casanare</a>
   <a mat-button class="" [matMenuTriggerFor]="notify">Notificacion<mat-icon class="mat-18">notifications</mat-icon></a>
  <mat-menu #notify>
    <a mat-menu-item><mat-icon class="mat-18" matBadge = "15">notifications</mat-icon>Notificaciones</a>
  </mat-menu>
  <a mat-button class="" [matMenuTriggerFor]="menu"><mat-icon class="mat-18">manage_accounts</mat-icon>administrador</a>
  <mat-menu #menu >
      <a mat-menu-item ><mat-icon class="mat-18">settings</mat-icon>Configuracion</a>
      <a mat-menu-item [matMenuTriggerFor]="users"><mat-icon class="mat-18">group</mat-icon>Usuarios</a>
      <mat-menu #users>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 1</a>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 2</a>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 3</a>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 4</a>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 5</a>
        <a mat-menu-item ><mat-icon class="mat-18">person</mat-icon> usuarios 6</a>
      </mat-menu>
      <a [routerLink]="['/login']" mat-menu-item ><mat-icon class="mat-18">logout</mat-icon>Cerrar Session</a>
    </mat-menu>
 </mat-toolbar>
 <!-- puede ser otro componente de control -->
