<!-- <div class="grid lg:grid-cols-7  md:grid-cols-2 sm:grid-cols-1 gap-4 ">
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal de Entrada</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Entradas</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal de Salida</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Salida</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal con boleta</mat-card-title>
          <mat-card-subtitle>area recursos humanos</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Boleta</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Total Personal</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Total</button>
      </mat-card-footer>
  </mat-card>
 </div>
</div>
 -->
<!--
 <div class=" ">
  <mat-grid-list cols="2" rowHeight="350px">
     @for (card of cards | async; track card) {
      <mat-grid-tile >
        <mat-card appearance="outlined" class="dashboard-card ">
          <mat-card-header>
            <mat-card-title>
               {{card.title}}
              <button mat-icon-button class="more-button"
               [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu>
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="">
              <div class="">
                <span>gerger</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
     }
  </mat-grid-list>
</div>--->
<style>
/* .grid-container {
  margin: 20px;
} */

 .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

</style>

<mat-grid-list cols="2" rowHeight="350px" >
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card appearance="outlined" class="dashboard-card">
        <mat-card-header>
            <mat-card-title>Total Personal</mat-card-title>
            <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
        </mat-card-header>
        <div class=" grid place-items-center">
          <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
        </div>
        <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
        class="rounded-lg m-2">
        <mat-card-footer class="grid place-items-center">
          <button mat-button class="w-full m-2">Ir Total</button>
        </mat-card-footer>
    </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Tile 2</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Tile 1</mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">Tile 2</mat-grid-tile>

</mat-grid-list>
