<div class=" bg-gray-200 rounded-md m-3">
  <div class="p-3">
    <h4 class=" text-center font-sans font-semibold  ">Registro Empleados</h4>
  </div>
      <form action="" class="grid grid-cols-2">
        <mat-form-field class="m-3 ">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
          <mat-icon matTextSuffix class="mat-18">account_box</mat-icon>
        </mat-form-field>
        <mat-form-field class="m-3 max-w-full">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
          <mat-icon matTextSuffix class="mat-18">person</mat-icon>
        </mat-form-field>
        <mat-form-field class="m-3 ">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="m-3 max-w-full">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="m-3 ">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="m-3 max-w-full">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="m-3 ">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
        <mat-form-field class="m-3 max-w-full">
          <mat-label>Nombre Empleado</mat-label>
          <input matInput type="text">
        </mat-form-field>
      </form>
      <div class="flex justify-center">
        <button mat-button class=" w-full m-3"> Rigistrar Empleado </button>
        <button mat-button class=" w-full m-3"><mat-icon class="">delete</mat-icon> Eliminar Registro</button>
      </div>
    </div>
