
<div class="mt-12 m-5">
  <div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-lg border">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-lime-600 to-lime-900
       text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <mat-icon class="mat-18">person</mat-icon>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">seguridad fisica</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">N°</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-2xl leading-relaxed font-normal text-blue-gray-600">
          <strong>Entrada Personal</strong>
        </p>
        <div class="grid place-items-center">
          <button mat-button class="w-full">  Ir Entradas</button>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-lg border">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-amber-600 to-amber-400 text-white shadow-amber-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <mat-icon class="mat-18">person</mat-icon>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Seguridad fisica</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">N°</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-2xl leading-relaxed font-normal text-blue-gray-600">
          <strong>Salida Personal</strong>
        </p>
        <div class="grid place-items-center">
          <button mat-button class="w-full">Ir Salida</button>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-lg border">
      <div class="bg-clip-border mx-4 rounded-xl overflow-hidden bg-gradient-to-tr from-green-700 to-green-400 text-white shadow-green-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <mat-icon>local_activity</mat-icon>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Seguridad fisica</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">N°</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-2xl leading-relaxed font-normal text-blue-gray-600">
          <strong>Personal Boleta</strong>
        </p>
        <div class="grid place-items-center">
          <button mat-button class="w-full">  Ir Boletas</button>
        </div>
      </div>
    </div>
    <div class="relative flex flex-col bg-clip-border rounded-xl bg-white text-gray-700 shadow-lg border">
      <div class="bg-clip-border mx-8 rounded-xl overflow-hidden bg-gradient-to-tr from-amber-600 to-orange-200 text-white shadow-orange-500/40 shadow-lg absolute -mt-4 grid h-16 w-16 place-items-center">
        <mat-icon class="">diversity_3</mat-icon>
      </div>
      <div class="p-4 text-right">
        <p class="block antialiased font-sans text-sm leading-normal font-normal text-blue-gray-600">Seguridad Fisica</p>
        <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-blue-gray-900">N°</h4>
      </div>
      <div class="border-t border-blue-gray-50 p-4">
        <p class="block antialiased font-sans text-2xl leading-relaxed font-normal text-blue-gray-600">
          <strong>Total Personal</strong>
        </p>
        <div class="grid place-items-center">
          <button mat-button class="w-full">Ir Total</button>
        </div>
      </div>
    </div>
  </div>








<!-- <div class="grid lg:grid-cols-7  md:grid-cols-2 sm:grid-cols-1 gap-4 ">
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal de Entrada</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Entradas</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal de Salida</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Salida</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Personal con boleta</mat-card-title>
          <mat-card-subtitle>area recursos humanos</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Boleta</button>
      </mat-card-footer>
  </mat-card>
 </div>
 <div class="">
  <mat-card appearance="outlined">
      <mat-card-header>
          <mat-card-title>Total Personal</mat-card-title>
          <mat-card-subtitle>area seguridad fisica</mat-card-subtitle>
      </mat-card-header>
      <div class=" grid place-items-center">
        <div class="text-4xl font-bold bg-slate-400 rounded-md p-2">123</div>
      </div>
      <img matCardImage src="https://cdn.pixabay.com/photo/2020/05/15/14/17/water-5173774_640.jpg"
      class="rounded-lg m-2">
      <mat-card-footer class="grid place-items-center">
        <button mat-button class="w-full m-2">Ir Total</button>
      </mat-card-footer>
  </mat-card>
 </div>
</div>
 -->
<!--
 <div class=" ">
  <mat-grid-list cols="2" rowHeight="350px">
     @for (card of cards | async; track card) {
      <mat-grid-tile >
        <mat-card appearance="outlined" class="dashboard-card ">
          <mat-card-header>
            <mat-card-title>
               {{card.title}}
              <button mat-icon-button class="more-button"
               [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu>
                <button mat-menu-item>Expand</button>
                <button mat-menu-item>Remove</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <div class="">
              <div class="">
                <span>gerger</span>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
     }
  </mat-grid-list>
</div>--->
<style>
/* .grid-container {
  margin: 20px;
} */

 <!-- .dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

</style>

