

  <div class="mx-2" >
    <mat-toolbar class="" style="background-color: rgb(100, 187, 100);">
      <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 class="">Asistencia Empleados</h1>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav   #snav >
        <button mat-icon-button> <mat-icon class="">house</mat-icon></button>
      </mat-sidenav>
      <mat-drawer-content>Main content</mat-drawer-content>
    </mat-sidenav-container>
  </div>

