
<div class="">
  <app-header></app-header>
</div>

<!-- <div class="">
  <div class=""> -->
     <!-- <navegation-admin></navegation-admin> -->

  <!-- </div>
</div> -->
<!-- <div class=" fixed w-screen"> -->
  <!-- <router-outlet></router-outlet> -->
<!-- </div> -->
<!-- <main class="w-[calc(100%-256px)] ml-48">
  <div class="py-2 px-2 flex items-center fixed w-screen">
    <router-outlet></router-outlet>
  </div>
</main> -->
<!-- <footer class="">
 <footer-admin></footer-admin>
</footer> -->



