<nav class="grid justify-items-center border-b-4  border-lime-500">
  <img src="https://static.wixstatic.com/media/cd5424_01ab5c9ce1034fc99979da71d41442c5~mv2.png/v1/fill/w_150,h_125,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/IACSA%20REDONDO_edited.png"
  class="rounded-full w-24 h-24 m-1"
  alt="">
  <a mat-button class="font-bold text-lg">perfil admin</a>
</nav>
<mat-nav-list >
  <a mat-menu-item [routerLink]="['inicio']"><mat-icon>home</mat-icon> Inicio</a>
  <a mat-menu-item  [routerLink]="['entradaempleado']" ><mat-icon>directions_walk</mat-icon> Entradas</a>
  <a mat-menu-item ><mat-icon>directions_run</mat-icon>Salidas</a>
  <a mat-menu-item ><mat-icon>table</mat-icon>Registros</a>
</mat-nav-list>
