<nav class="grid justify-items-center border-b-4 border-lime-500">
  <img src="https://cdn.pixabay.com/photo/2020/08/09/11/31/business-5475283_1280.jpg"
  class="rounded-full w-24 h-24 m-1"
  alt="">
  <a mat-button class="font-bold text-lg">perfil admin</a>
</nav>
<mat-nav-list >
  <a mat-menu-item [routerLink]="['inicio']"><mat-icon>home</mat-icon> Inicio</a>
  <a mat-menu-item ><mat-icon>directions_walk</mat-icon> Entradas</a>
  <a mat-menu-item ><mat-icon>directions_run</mat-icon>Salidas</a>
  <a mat-menu-item ><mat-icon>table</mat-icon>database</a>
</mat-nav-list>
